/* Font */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}


/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Layout */
html {
    overflow-x: hidden;
    -ms-overflow-style: none;

    font-family: 'Pretendard-Regular', 'Prtendard-SemiBold', 'Pretendard-ExtraBold';
    background-color: #f7f7f7;
    word-break: keep-all;
}

section {
    position: relative;
    float: right;
    width: calc(100vw - 82px);
    /* border: solid 1px red; */
}

#wrap > div {
    box-sizing: border-box;
}

#sub-title, #main-title-1, #main-title-2 {
    padding: 30px 100px;
}

p {
    line-height: 15pt;
}

p ~ p {
    margin-top: 15pt;
}

a {
    text-decoration: none;
    color: #000;
}


/* Layout - classes */
.line {
    position: absolute;
    background-color: #DDDBDB;
}

.noise {
    position: fixed;
	width: 100%;
	height: 100%;
    z-index: 5;
	background-image: url('../img/noise.png');
	background-size: auto;
	background-repeat: repeat;
	mix-blend-mode: overlay;
	opacity: .2;
}

.content {
    display: flex;
    -ms-display: flexbox;
    display: -webkit-flex;

    justify-content: space-between;
    width: 85%;
    /* border: solid 1px blue; */
}

.pattern {
    position: absolute;
    z-index: -3;
    top: 30px;
    right: 0;
}

.blind {
    display: none;
}

.appear-break {
    display: none;
}

.fade-this {
    opacity: 0;
}


/* Layout - header */
header {
    position: fixed;

    display: flex;
    -ms-display: flexbox;
    display: -webkit-flex;

    z-index: 20;

    align-items: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;

    width: 80px;
    height: 100vh;
    background-color: #f7f7f7;
    /* border-right: solid 2px #DDDBDB; */
}

h1 {
    position: absolute;
    display: block;
    width: 200px;
    left: 50%;
    margin-bottom: 30px;

    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);

    transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -webkit-transform-origin: 0 50%;

    font-family: 'Pretendard-ExtraBold';
    text-transform: uppercase;
    font-size: 15pt;
    /* border: solid 1px blue; */

    transition: color 280ms ease-out;
    -moz-transition: color 280ms ease-out;
    -ms-transition: color 280ms ease-out;
    -o-transition: color 280ms ease-out;
}

h1:hover {
    color: #C8F420;
}

header .line {
    width: 2px;
    height: 100%;
    right: -2px;
}

/* Layout - header - navigation button */
#btn-menu {
    position: absolute;
    width: 35px;
    height: 26px;
    top: 0;
    left: 50%;
    margin-top: 42px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    /* border: solid 1px blue; */
}

#btn-menu:before,
#btn-menu:after,
#btn-menu .btn-line {
  background: #3B3838;
  content: "";
  display: block;
  height: 2px;
	
  transform-origin: center;

  transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

#btn-menu .btn-line {
    margin: 10px 0;
}

#btn-menu.active:before {
  transform: translateY(12px) rotate(135deg);
  -webkit-transform: translateY(12px) rotate(135deg);
  -moz-transform: translateY(12px) rotate(135deg);
  -ms-transform: translateY(12px) rotate(135deg);
}

#btn-menu.active:after {
  transform: translateY(-12px) rotate(-135deg);
  -webkit-transform: translateY(12px) rotate(-135deg);
  -moz-transform: translateY(12px) rotate(-135deg);
  -ms-transform: translateY(12px) rotate(-135deg);
}

#btn-menu.active .btn-line {
  opacity: 0;
}


/* Layout - navigation slide */
.side-menu {
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;

    display: flex;
    -ms-display: flexbox;
    display: -webkit-flex;

    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;

    justify-content: flex-end;
    
    z-index: 15;
    top: 0;
    left: 82px;
    width: 100vw;
    height: 100vh;
    background-color: #f7f7f7;
    box-shadow: 1px 0 2px rgba(0,0,0,0.15);
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);

    transition: transform 400ms cubic-bezier(0.455,0.030,0.515,0.955);
    -moz-transition: transform 400ms cubic-bezier(0.455,0.030,0.515,0.955);
    -ms-transition: transform 400ms cubic-bezier(0.455,0.030,0.515,0.955);
    -o-transition: transform 400ms cubic-bezier(0.455,0.030,0.515,0.955);
}

.side-menu.open {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
}

.side-menu h3 {
    padding: 60px 50px;
    text-transform: uppercase;
    color: #000;
    font-size: 70pt;
    font-weight: 700;
    letter-spacing: 10pt;
}

.side-menu ul {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 70px;
    list-style: none;
    /* border: solid 1px red; */
}

.side-menu li {
    padding: 50px 60px;
}

.side-menu li + li {
    border-top: solid 2px #DDDBDB;
}

.side-menu li a {
    display: inline-block;
    position: relative;
    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 40pt;
    font-weight: 700;
    letter-spacing: 10pt;
    opacity: 0;
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
}

.side-menu li.ani > a {
    opacity: 1.0;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    animation: menuAni 0.6s cubic-bezier(0.455,0.030,0.515,0.955)
}

@keyframes menuAni{
    0% {
        opacity: 0;
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
    }
    100% {
        opacity: 1.0;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
    }
}


/* Layout - main section */
#sub-title {
    position: relative;
    font-size: 20pt;
    font-family: 'Pretendard-Regular';
    text-transform: uppercase;
}

#sub-title h2 {
    opacity: 0;
}

#sub-title .line {
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
}

/* Layout - main section - main title 1 */
#main-title-1 {
    position: relative;

    display: flex;
    -ms-display: flexbox;
    display: -webkit-flex;

    overflow: hidden;
    width: 80%;
    height: 40vh;
    padding-bottom: 50px !important;

    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;

    justify-content: flex-end;
    font-size: 80pt;
    font-family: 'Pretendard-ExtraBold';
    /* border: solid 1px blue; */
}

#main-title-1 h3 {
    position: relative;
    opacity: 0;
}

#main-title-1 .line {
    width: 2px;
    height: 100%;
    top: 0;
    right: 0;
}

#main-title-1 img {
    position: absolute;
    width: 70%;
    bottom: -10%;
    right: -5%;
    z-index: -1;
}

/* Layout - main section - slide text */
.with-slide {
    display: flex;
    -ms-display: flexbox;
    display: -webkit-flex;

    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
}

.slide-txt {
    overflow: hidden;
    width: 400px;
    margin-left: 20pt;
    /* border: solid 1px red; */
}

.slide-txt .txt{
    width: 100%;
    /* text-align: center; */
}

/* Layout - main section - main title 2 */
#main-title-2 {
    position: relative;
    font-size: 40pt;
}

#main-title-2 h4 {
    opacity: 0;
}

#main-title-2 .line {
    width: 100%;
    height: 2px;
    left: 0;
}

#main-title-2 .line.top {
    top: 0;
}

#main-title-2 .line.bottom {
    bottom: 0;
}


/* Layout - bg section */
.bg1, .bg2 {
    position: absolute;
    z-index: -10;
    right: 0;
    width: calc(100vw - 82px);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg1 {
    height: 150vh;
    background-image: url("../img/bg.png");
    background-position: left;
    background-attachment: fixed;
}

.bg2 {
    height: 50vh;
    background-image: url("../img/pattern/contact-pattern.png");
}

.bg2:last-of-type {
    top: 100vh;
}


/* Layout - profile section */
#profile {
    position: absolute;

    display: flex;
    -ms-display: flexbox;
    display: -webkit-flex;

    width: calc(100vw - 82px);
    height: 60vh;
    top: 100vh;
    right: 0;

    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;

    background-color: #f7f7f7;
}

#profile .text-box {
    position: relative;
    width: 80%;

    display: flex;
    -ms-display: flexbox;
    display: -webkit-flex;

    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;

    justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
}

.profile-title {
    margin-top: 70px;
}

.profile-desc {
    margin-bottom: 70px;
}

#profile h3 {
    font-family: 'Pretendard-SemiBold';
    font-size: 30pt;
}

#profile h4 {
    margin-top: 20pt;
    font-size: 20pt;
    line-height: 25pt;
}

#profile .text-box .line {
    position: relative;
    width: 100%;
    height: 2px;
}

#profile img {
    height: 100%;
}


/* Layout - Project section */
#project {
    position: relative;
    height: 50vh;
    margin-top: 150vh;
}

#project .content {
    align-items: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
}

#project h3 {
    margin-bottom: 70px;
    font-family: 'Pretendard-ExtraBold';
    text-transform: uppercase;
    font-size: 40pt;
}

#project img {
    width: 50%;
}

#project .line {
    width: 100%;
    height: 2px;
    bottom: 0;
}

#project, #project-1 {
    display: flex;
    -ms-display: flexbox;
    display: -webkit-flex;

    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}


/* Layout - project-1, project-2 section */
.project {
    position: relative;

    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
}

.project > div.line {
    width: 100%;
    height: 2px;
}

#project-2 .line1 {
    top: 0;
    right: 0;
}

#project-2 .line2 {
    bottom: 0;
    right: 0;
}

#project-3 .line {
    bottom: 0;
    right: 0;
}


/* project-title */
.project .title-banner {
    position: relative;

    display: flex;
    -ms-display: flexbox;
    display: -webkit-flex;

    width: 100%;
    height: 50vh;

    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

.title-box, .desc-box {
    display: flex;
    -ms-display: flexbox;
    display: -webkit-flex;

    box-sizing: border-box;

    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;

    width: 50%;
    /* border: solid 1px red; */
}

.title-box {
    padding-top: 70px;
}

.desc-box {
    justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;

    padding: 70px 90px;
}

.title-banner h4 {
    font-family: 'Pretendard-SemiBold';
    text-transform: uppercase;
    font-size: 30pt;
    line-height: 35pt;
}

.title-banner h5 {
    position: absolute;
    top: 45px;
    font-family: 'Pretendard-SemiBold';
    color: #abaaaa;
    font-size: 12pt;
}

.title-banner .line {
    width: 2px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.title-banner span {
    color: #abaaaa;
}

/* project-img */
.img-banner {
    position: relative;
    height: 70vh;
    overflow: hidden;
    /* border: solid 1px red; */
}

.img-wrap {
    position: absolute;
    width: max-content;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.img-banner img {
    object-fit: cover;
    float: left;
}

.arrows {
    position: absolute;

    display: flex;
    -ms-display: flexbox;
    display: -webkit-flex;

    z-index: 10;
    right: 0;
    bottom: 0;
}

.prev-arrow, .next-arrow {
    display: flex;
    -ms-display: flexbox;
    display: -webkit-flex;

    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;

    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;

    width: 90px;
    height: 90px;
    background-color: #f7f7f7;
    border: none;

    transition: opacity 280ms ease-out;
    -moz-transition: opacity 280ms ease-in-out;
    -ms-transition: opacity 280ms ease-in-out;
    -o-transition: opacity 280ms ease-in-out;
}

.prev-arrow.disabled, .next-arrow.disabled {
    opacity: 0.8;
    transition: opacity 280ms ease-out;
    -moz-transition: opacity 280ms ease-in-out;
    -ms-transition: opacity 280ms ease-in-out;
    -o-transition: opacity 280ms ease-in-out;
}

.arrows img {
    width: 31px;
    height: 13px;
}

/* project-desc */
.desc-banner {
    display: flex;
    -ms-display: flexbox;
    display: -webkit-flex;

    height: 30vh;
    width: 100%;

    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

.button-box {
    display: flex;
    -ms-display: flexbox;
    display: -webkit-flex;

    box-sizing: border-box;
    /* border: solid 1px red; */
}

.desc-banner .desc-box {
    width: 70%;

    justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;

    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;

    padding: 70px 90px;
}

.desc-banner .line {
    width: 2px;
    height: 100%;
    top: 0;
    left: 0;
}

.button-box {
    position: relative;

    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;

    align-items: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;

    width: 30%;
    padding: 70px 90px;
}

.view-project {
    position: relative;
    width: 200px;
    padding: 30px 0;
    height: fit-content;
    font-family: 'Pretendard-SemiBold';
    /* border: solid 1px blue; */
    border-bottom: solid 2px #000;

    transition: border 400ms ease-in-out;
    -moz-transition: border 400ms ease-in-out;
    -ms-transition: border 400ms ease-in-out;
    -o-transition: border 400ms ease-in-out;
}

.view-project .arrow {
    position: absolute;
    display: inline-block;
    width: 31px;
    height: 13px;
    right: 0;

    transform-origin: left;
    -moz-transform-origin: left;
    -o-transform-origin: left;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;

    background-image: url("../img/arrow/next.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.button-box:hover .arrow {
    animation-name: bounceArrow;
    animation-fill-mode: forwards;
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@keyframes bounceArrow {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
    }

    50% {
        transform: translateX(-30%);
        -webkit-transform: translateX(-30%);
        -moz-transform: translateX(-30%);
        -ms-transform: translateX(-30%);
    }

    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
    }
}


/* Layout - contact section */
#contact {
    position: relative;
    height: 150vh;
}

.contact-box {
    position: relative;

    display: flex;
    -ms-display: flexbox;
    display: -webkit-flex;

    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;

    top: 50vh;
    right: 0;
    width: 100%;
    height: 50vh;
    /* border: solid 1px red; */
}

.contact-box > div.line {
    width: 100%;
    height: 2px;
}

.contact-box .line1 {
    top: 0;
    right: 0;
}

.contact-box .line2 {
    width: 2px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.contact-box .line3 {
    bottom: 0;
    right: 0;
}

#contact h3 {
    font-family: 'Pretendard-SemiBold';
    font-size: 30pt;
}

#contact h4 {
    margin-top: 20pt;
    font-size: 20pt;
    line-height: 25pt;
}

#contact .desc-box {
    justify-content: flex-end;
}

#contact .desc-box ul li {
    width: fit-content;
    margin: 10px 0;
}

#contact img {
    width: 30%;
}

.email {
    transition: background-color 400ms ease-in-out;
    -moz-transition: background-color 400ms ease-in-out;
    -ms-transition: background-color 400ms ease-in-out;
    -o-transition: background-color 400ms ease-in-out;
}

.email:hover {
    transition: background-color 400ms ease-in-out;
    -moz-transition: background-color 400ms ease-in-out;
    -ms-transition: background-color 400ms ease-in-out;
    -o-transition: background-color 400ms ease-in-out;

    background-color: #C8F420;
}


/* animation */
.fade-in {
    animation-duration: 0.6s;
    animation-name: fadeIn;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        transform: translateY(30%);
        -webkit-transform: translateY(30%);
        -moz-transform: translateY(30%);
        -ms-transform: translateY(30%);
    }

    100% {
        opacity: 1;
    }
}


/* width: 1440px */
@media screen and (max-width: 1440px) {
    .blind-break {
        display: none;
    }
}

/* width: 1350px */
@media screen and (max-width: 1360px) {
    #main-title-1 { 
        font-size: 70pt;
    }
}

@media screen and (max-width: 1300px) {
    #main-title-1 {
        font-size: 60pt;
    }

    #main-title-2 {
        font-size: 30pt;
    }
}

@media screen and (max-width: 1250px) {
    #main-title-1 {
        font-size: 55pt;
    }

    #main-title-2 {
        font-size: 25pt;
    }
}

@media screen and (max-width: 1200px) {
    .slide-txt {
        width: 250px;
    }
}

/* width: 1280px - Nest Hub Max */
@media screen and (max-width: 1280px) and (max-height: 800px) {
    /* fonts - main */
    #main-title-1 {
        font-size: 60pt;
    }

    #main-title-2 {
        font-size: 30pt;
    }

    /* fonts - profile */
    #profile h3 {
        font-size: 25pt;
    }

    #profile h4 {
        font-size: 15pt;
        line-height: 20pt;
    }

    /* fonts - project */
    #project h3 {
        font-size: 35pt;
    }

    .title-banner h4 {
        font-size: 25pt;
    }

    .title-banner h5 {
        top: 50px;
    }

    /* layout - project */
    .desc-banner {
        height: 35vh;
    }

    .desc-banner .desc-box {
        padding: 70px 90px 70px 0;
    }

    .button-box {
        width: 40%;
    }

    /* fonts - navigation */
    .side-menu h3 {
        font-size: 60pt;
    }

    .side-menu li {
        padding: 40px 50px;
    }

    .side-menu li a {
        font-size: 30pt;
    }

    /* layout - contact */
    #contact h3 {
        font-size: 25pt;
    }

    #contact h4 {
        font-size: 15pt;
    }

    #contact img {
        width: 30%;
    }
}


/* width: 1366px - iPad Pro (horizontal) */
@media screen and (max-width: 1366px) and (min-height: 1024px) {
    p {
        font-size: 13pt;
    }

    #contact img {
        width: 30%;
    }
    
    /* layout - project */
    .desc-banner .desc-box {
        padding: 70px 90px 70px 0;
    }

    .button-box {
        padding: 60px 70px;
    }

    .img-wrap {
        height: 80vh;
    }
}


/* width: 1024px */
@media screen and (max-width: 1024px) {
    .appear-break {
        display: block;
    }

    /* fonts - main */
    #main-title-1 {
        font-size: 50pt;
    }

    #main-title-2 {
        font-size: 20pt;
    }

    #sub-title {
        font-size: 15pt;
    }
}

/* width: 1024px - Nest Hub */
@media screen and (max-width: 1024px) and (max-height: 600px) {
    /* layout - title */
    #sub-title, #main-title-1, #main-title-2 {
        padding: 30px 60px;
    }

    .slide-txt {
        width: 300px;
    }

    /* fonts - navigation */
    h1 {
        font-size: 12pt;
    }

    .side-menu h3 {
        font-size: 35pt;
    }

    .side-menu li {
        padding: 30px 50px;
    }

    .side-menu li a {
        font-size: 20pt;
    }

    /* layout - profile */
    #profile {
        height: 80vh;
    }

    /* fonts - project */
    .desc-box {
        font-size: 11pt;
    }

    p ~ p {
        margin-top: 10pt;
    }

    /* layout - project */
    .title-banner .desc-box {
        padding: 50px 70px;
    }

    .desc-banner {
        height: 40vh;
    }

    .desc-banner .desc-box {
        padding: 50px 70px 50px 0;
    }

    .button-box {
        padding: 50px 70px;
    }
}

/* width: 1024px - iPad Pro (vertical) */
@media screen and (max-width: 1024px) and (min-height: 1366px) {
    /* layout - main */
    #sub-title, #main-title-1, #main-title-2 {
        padding: 30px 60px;
    }

    #main-title-1 {
        height: 25vh;
        font-size: 60pt;
    }

    #main-title-2 {
        font-size: 30pt;
    }

    .slide-txt {
        width: 300px;
    }

    /* layout - profile */
    .bg1 {
        height: 100vh;
    }

    #profile {
        height: 40vh;
        top: 60vh;
    }

    /* layout - project */
    #project {
        height: 30vh;
        margin-top: 100vh;
    }

    .title-banner {
        height: 30vh !important;
    }

    .img-banner {
        height: 35vh;
    }

    .img-wrap {
        height: 40vh;
    }

    .desc-banner {
        height: 20vh;
    }

    .desc-banner .desc-box {
        padding: 70px 90px 70px 0;
    }

    .button-box {
        width: 35%;
        padding: 50px 60px;
    }

    /* layout - contact */
    #contact {
        height: 90vh;
    }

    .bg2 {
        height: 30vh;
    }

    .bg2:last-of-type {
        top: 60vh;
    }

    .contact-box {
        top: 30vh;
        height: 30vh;
    }

    #contact img {
        width: 30%;
    }
}

/* width: 1024px - iPad (horizontal) */
@media screen and (max-width: 1024px) and (min-height: 768px) {
    /* layout - main */
    #sub-title, #main-title-1, #main-title-2 {
        padding: 30px 60px;
    }
    
    .slide-txt {
        width: 300px;
    }

    /* layout - profile */
    #profile {
        height: 70vh;
    }

    /* layout - project */
    .title-banner .desc-box {
        padding: 70px 70px;
    }

    .desc-banner .desc-box {
        padding: 50px 60px 50px 0;
    }

    .button-box {
        padding: 50px 60px;
    }
}


/* width: 768px - iPad (vertical) */
@media screen and (max-width: 768px) and (min-height: 1024px) {
    /* layout - main */
    #main-title-1 {
        height: 20vh;
        font-size: 40pt;
    }

    .slide-txt {
        width: 200px;
    }

    /* layout - profile */
    #profile {
        top: 60vh;
        height: 50vh;
    }

    #profile .text-box {
        width: 100%;
    }

    .profile-image {
        display: none;
    }

    .bg1 {
        height: 100vh;
    }

    /* layout - project */
    #project {
        margin-top: 100vh;
    }

    /* layout - project - title */
    .project .content {
        flex-direction: column;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
    }

    .title-box, .desc-box, .button-box {
        width: 100% !important;
    }

    .title-banner {
        height: 60vh !important;
    }

    .title-banner .title-box {
        padding-bottom: 70px;
        height: 50%;
        justify-content: flex-end;
    }

    .title-banner h5 {
        top: 10%;
        font-size: 15pt;
    }

    .title-banner .desc-box {
        height: 50%;
        padding: 70px 70px 70px 0;
    }

    .title-banner .line {
        width: 100%;
        height: 2px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
    }

    /* layout - project - desc */
    .desc-banner {
        height: 40vh;
    }

    .desc-banner .line {
        width: 100%;
        height: 2px;
    }

    .button-box {
        padding: 50px 60px 50px 0;

        align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;

        justify-content: flex-start;
    }

    /* layout - content */
    #contact .content {
        position: relative;

        flex-direction: column;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
    }

    #contact .desc-box {
        padding: 50px 0;
    }

    .contact-box .line2 {
        width: 100%;
        height: 2px;
        bottom: 35%;
    }
}


/* width: 700px ~ desktop (resoponsive) */
@media screen and (max-width: 700px) {
    /* layout - main */
    #main-title-1 {
        /* height: 20vh; */
        width: 100%;
        font-size: 40pt;
    }

    .slide-txt {
        width: 200px;
    }

    #main-title-1 .line {
        display: none;
    }

    /* layout - profile */
    #profile .text-box {
        width: 100%;
    }

    .profile-image {
        display: none;
    }

    /* layout - project */
    /* layout - project - title */
    .project .content {
        flex-direction: column;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
    }

    .title-box, .desc-box, .button-box {
        width: 100% !important;
    }

    .project .title-banner {
        height: 80vh;
    }

    .title-banner .title-box {
        padding-bottom: 70px;
        height: 50%;
        justify-content: flex-end;
    }

    .title-banner h5 {
        top: 10%;
        font-size: 15pt;
    }

    .title-banner .desc-box {
        height: 50%;
        padding: 70px 70px 70px 0;
    }

    .title-banner .line {
        width: 100%;
        height: 2px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
    }

    /* layout - project - desc */
    .desc-banner {
        height: 50vh;
    }

    .desc-banner .line {
        width: 100%;
        height: 2px;
    }

    .button-box {
        padding: 50px 60px 50px 0;

        align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;

        justify-content: flex-start;
    }

    /* layout - content */
    #contact .content {
        position: relative;

        flex-direction: column;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
    }

    #contact .desc-box {
        padding: 50px 0;
    }

    .contact-box .line2 {
        width: 100%;
        height: 2px;
        bottom: 35%;
    }
}

@media screen and (max-width: 1000px) {
    /* layout - title */
    #main-title-1 {
        width: 100%;
    }

    .slide-txt {
        width: 250px;
    }

    #main-title-1 .line {
        display: none;
    }

    /* layout - profile */
    #profile .content {
        width: 100%;

        justify-content: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
    }

    .profile-image {
        display: none;
    }

    /* layout - project */
    .button-box {
        padding: 50px 0 50px 50px;
    }

    /* layout - contact */
    #contact h3 {
        font-size: 25pt;
    }

    #contact h4 {
        font-size: 15pt;
    }
}


@media screen and (max-width: 500px) {
    /* layout - html */
    html {
        max-width: 100%;
    }

    header, .side-menu {
        display: none;
    }

    section {
        float: none;
    }

    section, .bg1, .bg2, #profile, .img-wrap > img {
        width: 100vw;
    }

    
    /* layout - main */
    #main-title-1 {
        width: 100%;
        font-size: 40pt;
    }

    #main-title-1 img {
        width: 90%;
    }

    #main-title-1, #sub-title, #main-title-2 {
        padding: 30px 50px;
    }

    #main-title-1 h3 ~ h3 {
        margin-top: 10pt;
    }

    #main-title-1 .line {
        display: none;
    }

    .with-slide {
        flex-direction: column;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
    }

    .slide-txt {
        margin-left: 0;
        margin-top: 10pt;
    }

    /* layout - profile */
    #profile .content {
        padding-left: 50px;
    }

    #profile img {
        display: none;
    }

    #profile h3 {
        font-size: 25pt;
    }

    #profile h4 {
        line-height: 20pt;
        font-size: 15pt;
    }

    .profile-break {
        display: none;
    }

    /* layout - project */
    #project h3 {
        font-size: 30pt;
    }

    #project img {
        width: 80%;
    }

    .project .content {
        flex-direction: column;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
    }

    .title-box, .desc-box, .button-box {
        width: 100% !important;
    }

    /* layout - project - title */
    .project .title-banner {
        height: 100vh;
    }

    .title-banner .title-box {
        padding-bottom: 70px;
        height: 50%;
        justify-content: flex-end;
    }

    .title-banner h5 {
        top: 10%;
        font-size: 15pt;
    }

    .title-banner .desc-box {
        height: 50%;
        padding: 70px 70px 70px 0;
    }

    .title-banner .line {
        width: 100%;
        height: 2px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
    }

    /* layout - project - desc */
    .desc-banner {
        height: 60vh;
    }

    .title-banner .desc-box, .desc-banner .desc-box, .button-box {
        padding-left: 25px;
    }

    .desc-banner .line {
        width: 100%;
        height: 2px;
    }

    .button-box {
        align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;

        justify-content: flex-start;
    }

    /* layout - content */
    #contact .content {
        position: relative;
        justify-content: flex-end;

        flex-direction: column;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
    }

    #contact .title-box {
        padding-bottom: 20px;
    }

    #contact .desc-box {
        padding: 50px 0;
    }

    #contact h3 {
        font-size: 25pt;
    }

    #contact h4 {
        font-size: 15pt;
    }

    .contact-box {
        height: 70vh;
    }

    .contact-box img {
        width: 90%;
    }

    .contact-box .line2 {
        width: 100%;
        height: 2px;
        bottom: 30%;
    }

    .bg2:last-of-type {
        top: 120vh;
    }
}


/* width: 450px ~ mobile (vertical) */
@media screen and (max-width: 450px) {
    /* layout - html */
    html {
        max-width: 100%;
    }

    header, .side-menu {
        display: none;
    }

    section {
        float: none;
    }

    section, .bg1, .bg2, #profile, .img-wrap > img {
        width: 100vw;
    }


    /* layout - main */
    #main-title-1 {
        width: 100%;
        font-size: 40pt;
    }

    #main-title-1 img {
        width: 90%;
    }

    #main-title-1, #sub-title, #main-title-2 {
        padding: 30px 50px;
    }

    #main-title-1 h3 ~ h3 {
        margin-top: 10pt;
    }

    #main-title-1 .line {
        display: none;
    }

    .with-slide {
        flex-direction: column;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
    }

    .slide-txt {
        margin-left: 0;
        margin-top: 10pt;
    }

    /* layout - profile */
    #profile .content {
        padding-left: 50px;
    }

    #profile img {
        display: none;
    }

    #profile h3 {
        font-size: 25pt;
    }

    #profile h4 {
        line-height: 20pt;
        font-size: 15pt;
    }

    .profile-break {
        display: none;
    }

    /* layout - project */
    #project h3 {
        font-size: 30pt;
    }

    #project img {
        width: 80%;
    }

    .project .content {
        flex-direction: column;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
    }

    .title-box, .desc-box, .button-box {
        width: 100% !important;
    }

    /* layout - project - title */
    .project .title-banner {
        height: 100vh;
    }

    .title-banner .title-box {
        padding-bottom: 70px;
        height: 50%;
        justify-content: flex-end;
    }

    .title-banner h5 {
        top: 10%;
        font-size: 15pt;
    }

    .title-banner .desc-box {
        height: 50%;
        padding: 70px 70px 70px 0;
    }

    .title-banner .line {
        width: 100%;
        height: 2px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
    }

    /* layout - project - desc */
    .desc-banner {
        height: 60vh;
    }

    .title-banner .desc-box, .desc-banner .desc-box, .button-box {
        padding-left: 25px;
    }

    .desc-banner .line {
        width: 100%;
        height: 2px;
    }

    .button-box {
        align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;

        justify-content: flex-start;
    }

    /* layout - content */
    #contact .content {
        position: relative;
        justify-content: flex-end;
        
        flex-direction: column;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
    }

    #contact .title-box {
        padding-bottom: 20px;
    }

    #contact .desc-box {
        padding: 50px 0;
    }

    #contact h3 {
        font-size: 25pt;
    }

    #contact h4 {
        font-size: 15pt;
    }

    .contact-box {
        height: 70vh;
    }

    .contact-box img {
        width: 90%;
    }

    .contact-box .line2 {
        width: 100%;
        height: 2px;
        bottom: 30%;
    }

    .bg2:last-of-type {
        top: 120vh;
    }
}

@media screen and (max-width: 420px) {
    .title-banner .desc-box {
        padding: 50px 50px 50px 25px;
    }

    .desc-banner {
        height: 80vh !important;
    }

    #profile {
        height: 80vh;
    }

    .contact-box .line2 {
        bottom: 30%;
    }

    #contact img {
        width: 80%;
    }
}

@media screen and (max-width: 380px) {
    .desc-banner {
        height: 100vh !important;
    }

    #contact img {
        width: 70%;
    }
}

@media screen and (max-width: 360px) {
    .project .title-banner {
        height: 120vh;
    }

    .contact-box {
        height: 80vh;
    }

    .bg2:last-of-type {
        top: 130vh;
    }
}

@media screen and (max-width: 330px) {
    .title-banner {
        height: 150vh !important;
    }

    .contact-box {
        height: 80vh;
    }

    .bg2:last-of-type {
        top: 130vh;
    }
}
