@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');

/* Modern Normalize */
*,::after,::before{box-sizing:border-box}:root{-moz-tab-size:4;tab-size:4}html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}hr{height:0}abbr[title]{text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,pre,samp{font-family:SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{padding:0}progress{vertical-align:baseline}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}

/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    word-break: keep-all;
    list-style: none;
}

/* main color : #C74601 / sub color : #FFFFFF #C0CCCC #050507 */

/* document setting */
html {
    overflow: hidden;
    scroll-behavior: smooth;
    font-family: 'Noto Sans KR', 'Montserrat';
    font-size: 14px;
    font-weight: 300;
    background-color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 280ms ease;
    -webkit-transition: color 280ms ease;
    -ms-transition: color 280ms ease;
    -o-transition: color 280ms ease;
    -moz-transition: color 280ms ease;
}

a:hover {
    color: #C74601;
    transition: color 280ms ease;
    -webkit-transition: color 280ms ease;
    -ms-transition: color 280ms ease;
    -o-transition: color 280ms ease;
    -moz-transition: color 280ms ease;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
}

header, h1, h2, h3 {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 300;
}

/* layout */
.wrap {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    width: 1600px;
    height: 700px;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    margin: 0 auto;
}

.inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

/* classes */
.blind {
    display: none;
}

.letter-space {
    letter-spacing: 50px;
}

.letter-spaces {
    letter-spacing: 15px;
}

.red {
    color: #C74601;
}

/* back-to-main */
.back-to-main {
    position: fixed;
    z-index: 30;
    padding: 20pt 35pt;
    bottom: 5%;
    right: 5%;
    font-family: Montserrat;
    font-weight: 700;
    color: #fff;
    border-radius: 50px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    backdrop-filter: blur(15px);
    transition: background-color 200ms ease-in-out;
}

.back-to-main:hover {
    animation-name: bounce;
    animation-fill-mode: forwards;
    animation-duration: 0.4s;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 200ms ease-in-out;
}

@keyframes bounce {
    0% {
    }

    50% {
        transform: translateY(10%);
    }
    
    100% {
        transform: translateY(0);
    }
}

/* navigation */
header {
    position: fixed;
    top: 50%;
    left: 5%;
    z-index: 10;
    font-family: 'Montserrat';
    mix-blend-mode: exclusion;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

/* navigation-dots */
header ul li {
    list-style: none;
}

header ul li a {
    position: relative;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 1px #fff;
    transition: background-color 280ms ease;
    -webkit-transition: background-color 280ms ease;
    -ms-transition: background-color 280ms ease;
    -o-transition: background-color 280ms ease;
    -moz-transition: background-color 280ms ease;
}

/* navigation-dots animation */
header ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 280ms ease;
    -webkit-transition: background-color 280ms ease;
    -ms-transition: background-color 280ms ease;
    -o-transition: background-color 280ms ease;
    -moz-transition: background-color 280ms ease;
}

.dot-selected {
    background-color: #fff;
    transition: background-color 280ms ease;
    -webkit-transition: background-color 280ms ease;
    -ms-transition: background-color 280ms ease;
    -o-transition: background-color 280ms ease;
    -moz-transition: background-color 280ms ease;
}

/* navigation-text */
header ul li {
    margin-bottom: 30px;
}

header ul li:last-of-type {
    margin: 0;
}

header ul li span {
    position: absolute;
    top: 50%;
    left: 100%;
    opacity: 0;
    letter-spacing: 5px;
    color: #fff;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transition: left 280ms ease, opacity 280ms ease;
    -webkit-transition: left 280ms ease, opacity 280ms ease;
    -ms-transition: left 280ms ease, opacity 280ms ease;
    -o-transition: left 280ms ease, opacity 280ms ease;
    -moz-transition: left 280ms ease, opacity 280ms ease;
}

/* navigation-text animation */
header ul li a:hover span {
    left: 200%;
    opacity: 1;
    transition: left 280ms ease, opacity 280ms ease;
    -webkit-transition: left 280ms ease, opacity 280ms ease;
    -ms-transition: left 280ms ease, opacity 280ms ease;
    -o-transition: left 280ms ease, opacity 280ms ease;
    -moz-transition: left 280ms ease, opacity 280ms ease;
}


/* section1 */
#section1 {
    display: flex;
    flex-direction: column;
}

/* section1-title */
.title {
    text-align: center;
}

h1 {
    display: block;
    font-size: 8rem;
    color: #C74601;
}

h2 {
    display: block;
    margin-top: 20px;
    font-size: 2rem;
    color: #fff;
}

/* section1-videoBG */
.video {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
    /* background-color: #000; */
}

video {
    position: absolute;
    min-height: 150vh;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
}

/* section1-videoBG effect */
.window {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
}

.noise {
    position: absolute;
	width: 100%;
	height: 100vh;
	background-image: url('../image/noise.png');
	background-size: auto;
    -webkit-background-size: auto;
    -ms-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
	background-repeat: repeat;
	mix-blend-mode: overlay;
	opacity: .2;
}


/* section2 */
#section2 {
    color: #fff;
    background-image: url("../image/bg/bg.jfif");
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}

/* section2-bg overlay */
.overlay {
    width: 100%;
    height: 100%;
    background-color: #050507;
    opacity: 0.8;
}

/* section2-contents */
#section2 h3 {
    font-size: 3rem;
}

table {
    width: 500px;
    margin: 20px 0;
    font-size: 1.2rem;
    text-align: left;
}

th {
    padding-right: 20px;
}

th {
    padding-bottom: 10px;
}

.actor, #section2 .content-img {
    overflow: hidden;
}

/* section2-contents-img hover animation */
.actor:hover img, #section2 .content-img:hover img {
    transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transition: transform 340ms ease;
    -webkit-transition: transform 340ms ease;
    -ms-transition: transform 340ms ease;
    -o-transition: transform 340ms ease;
    -moz-transition: transform 340ms ease;
}

#section2 .actor {
    position: relative;
    float: left;
    width: 160px;
    margin-right: 10px;
}

#section2 .actor img {
    width: 100%;
    transition: transform 340ms ease;
    -webkit-transition: transform 340ms ease;
    -ms-transition: transform 340ms ease;
    -o-transition: transform 340ms ease;
    -moz-transition: transform 340ms ease;
}

#section2 .actors img:last-of-type {
    margin: 0;
}

.content-img {
    position: absolute;
    width: 450px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    box-shadow: 0 10px 20px rgba( 0, 0, 0, 0.2);
    -webkit-box-shadow: 0 10px 20px rgba( 0, 0, 0, 0.2);
    -moz-box-shadow: 0 10px 20px rgba( 0, 0, 0, 0.2);
    -o-box-shadow: 0 10px 20px rgba( 0, 0, 0, 0.2);
    -ms-box-shadow: 0 10px 20px rgba( 0, 0, 0, 0.2);
}

.content-img img {
    width: 100%;
    transition: transform 340ms ease;
    -webkit-transition: transform 340ms ease;
    -ms-transition: transform 340ms ease;
    -o-transition: transform 340ms ease;
    -moz-transition: transform 340ms ease;
}

tr img {
    display: inline-block;
}

/* section2-contents-img hover text animation */
.overname {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: 'Montserrat';
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    opacity: 0;
    color: #C0CCCC;
    background-color: rgba(5, 5, 7, 0.5);
    transition: opacity 340ms ease;
    -webkit-transition: opacity 340ms ease;
    -ms-transition: opacity 340ms ease;
    -o-transition: opacity 340ms ease;
    -moz-transition: opacity 340ms ease;
}

.overname h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    line-height: 1.8;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
}

.actor:hover .overname {
    opacity: 1;
    transition: opacity 340ms ease;
    -webkit-transition: opacity 340ms ease;
    -ms-transition: opacity 340ms ease;
    -o-transition: opacity 340ms ease;
    -moz-transition: opacity 340ms ease;
}


/* section3 */
#section3 {
    color: #fff;
    background-image: url("../image/bg/bg2.jfif");
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}

/* section3-contents */
#section3 .content-txt h3 {
    font-family: 'Noto Sans KR';
    color: #C0CCCC;
    font-size: 4.5rem;
    line-height: 1.1;
    font-weight: 500;
}

#section3 .content-txt p {
    display: block;
    margin: 50px 0;
    font-size: 1.2rem;
    line-height: 1.8;
}

.content-div {
    display: flex;
}

/* section3-contents BG effect */
.glass {
    position: relative;
    flex: 1;
    /* width: 30%; */
    height: 150px;
    margin: 0 30px;
    padding: 20px 30px;
    font-size: 1.3rem;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 20px rgba( 0, 0, 0, 0.2);
    -webkit-box-shadow: 0 10px 20px rgba( 0, 0, 0, 0.2);
    -moz-box-shadow: 0 10px 20px rgba( 0, 0, 0, 0.2);
    -o-box-shadow: 0 10px 20px rgba( 0, 0, 0, 0.2);
    -ms-box-shadow: 0 10px 20px rgba( 0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    transition: transform 240ms ease-out;
    -webkit-transition: transform 240ms ease-out;
    -ms-transition: transform 240ms ease-out;
    -o-transition: transform 240ms ease-out;
    -moz-transition: transform 240ms ease-out;
}

.glass .noise {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.1;
    background-size: contain;
    -webkit-background-size: contain;
    -ms-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}

/* section3-contents BG hover animation */
.glass:hover {
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transition: transform 240ms ease-out;
    -webkit-transition: transform 240ms ease-out;
    -ms-transition: transform 240ms ease-out;
    -o-transition: transform 240ms ease-out;
    -moz-transition: transform 240ms ease-out;
}

.glass-txt {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    mix-blend-mode: exclusion;
}

.glass-txt h4 {
    display: block;
    margin-bottom: 20px;
}

.glass-txt p {
    text-align: right;
}


/* section4 */
#section4 {
    color: #fff;
    overflow-y: visible;
    background-image: url("../image/bg/bg3.jfif");
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}

/* section4-slide container */
#section4 .slide-section {
    position: absolute;
    width: 100%;
    height: 400px;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

/* section4-slide title */
#section4 h3 {
    position: absolute;
    top: -80px;
    left: -60px;
    z-index: 3;
    font-size: 7rem;
}

/* section4-slide lists */
#section4 .img-slide {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
    left: 500px;
    width: fit-content;
    height: 100%;
}

/* section4-slide list items */
#section4 .img-slide .img {
    position: relative;
    overflow: hidden;
    width: 600px;
    height: 400px;
    box-shadow: 0 10px 20px rgba( 0, 0, 0, 0.2);
    -webkit-box-shadow: 0 10px 20px rgba( 0, 0, 0, 0.2);
    -moz-box-shadow: 0 10px 20px rgba( 0, 0, 0, 0.2);
    -o-box-shadow: 0 10px 20px rgba( 0, 0, 0, 0.2);
    -ms-box-shadow: 0 10px 20px rgba( 0, 0, 0, 0.2);
}

#section4 .img-slide .img img {
    width: 100%;
    height: 100%;
    transition: transform 340ms ease;
    -webkit-transition: transform 340ms ease;
    -ms-transition: transform 340ms ease;
    -o-transition: transform 340ms ease;
    -moz-transition: transform 340ms ease;
}

/* section4-slide list items hover animation */
#section4 .img-slide .img:hover img {
    transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    transition: transform 340ms ease;
    -webkit-transition: transform 340ms ease;
    -ms-transition: transform 340ms ease;
    -o-transition: transform 340ms ease;
    -moz-transition: transform 340ms ease;
}

#section4 .img-slide .img:hover .overname {
    opacity: 1;
    transition: opacity 340ms ease;
    -webkit-transition: opacity 340ms ease;
    -ms-transition: opacity 340ms ease;
    -o-transition: opacity 340ms ease;
    -moz-transition: opacity 340ms ease;
}


/* footer */
#footer {
    position: relative;
    height: 300px;
    color: #C0CCCC;
    background-color: #050507;
}

/* footer-contents */
#footer .gf-inner {
    position: absolute;
    display: flex;
    width: 1200px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
}

.gf-L {
    width: 40%;
}

.gf-L h3 {
    font-size: 2rem;
    letter-spacing: 5px;
}

address {
    position: relative;
    font-size: 1.1rem;
    width: 60%;
}

address ul {
    position: absolute;
    right: 0;
    bottom: 0;
}


/* animation */
.fade-in {
    animation: fade-in 1.4s;
    -webkit-animation: fade-in 1.4s;
    -ms-animation: fade-in 1.4s;
    -o-animation: fade-in 1.4s;
    -moz-animation: fade-in 1.4s;
}
  
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(30px);
        -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -o-transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

/* animation cross browsing */
@-webkit-keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(30px);
        -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -o-transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

@-moz-keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(30px);
        -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -o-transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

@-o-keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(30px);
        -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -o-transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

@-ms-keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(30px);
        -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -o-transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
    }
}